@model ProductModel
<div class="my-5 p-5 rounded-5" style="background-color: #512B81;">
    <form action="/admin/editproduct" method="post" enctype="multipart/form-data">
        <span asp-validation-Summury="All"></span>
        <div class="form-group mb-4 d-flex justify-content-center">
            <img src="~/Images/@Model.ImageUrl" alt="" style="width: 200px; height:200px;">
            <input asp-for="ImageUrl" hidden value="@Model.ImageUrl">
            <input asp-for="Id" hidden value="@Model.Id">
        </div>
        <div class="form-group mb-4">
            <label class="mb-1 text-white" asp-for="Name ">Ürün Adı</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-white"></span>
        </div>
        <div class="form-group mb-4">
            <label class="mb-1 text-white" asp-for="Description">Ürün Açıklaması</label>
            <div class="form-floating">
                <textarea class="form-control" asp-for="Description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea> 
            </div>
            <span asp-validation-for="Description" class="text-white"></span>
        </div>
        <div class="form-group mb-4">
            <label class="mb-1 text-white" asp-for="CurrentPrice">Ürün Fiyatı</label>
            <input asp-for="CurrentPrice" class="form-control">
            <span asp-validation-for="CurrentPrice" class="text-white"></span>
        </div>
        <div class="form-group mb-4">
            <label class="mb-1 me-2 text-white" for="file">Ürün Resmini Seçiniz</label>
            <input style="background-color: #fff; color:#512B81" class="p-2" type="file" name="file">
        </div>
        <div class="form-group mb-4">
            <label class="mb-1 text-white">Kategori</label>
            <select class="form-select" aria-label="Default select example" asp-for="CategoryId">
                @foreach(var c in ViewBag.Categories)
                {
                    <option value="@c.Id">@c.Name</option>
                }
                
            </select>
            <span asp-validation-for="CategoryId" class="text-white"></span>
        </div>
        <div class="form-group mb-4 form-check">
            <input asp-for="IsApproved" class="form-check-input" type="checkbox">
            <label asp-for="IsApproved" class="form-check-label text-white">
                Onaylı mı?
            </label>
        </div>
        <button type="submit" class="btn fw-semibold" style="background-color: #fff; color:#512B81;">Güncelle</button>
    </form>
</div>