
<div class="my-5 p-5 rounded-5" style="background-color: #512B81;">
    <h3 class="text-center text-white">Şifre yenileme linki gönder</h3>
    <form action="/account/forgotpassword" method="post">
        <div asp-validation-summary="All" class="text-white"></div>
        <div class="form-group mb-4">
            <label class="mb-1 text-white" for="email">E-mail</label>
            <input name="Email" type="email" class="form-control">
        </div>
        <button type="submit" class="btn fw-semibold" style="background-color: #fff; color:#512B81;">Linki gönder</button>
    </form>
</div>
